body {
    font-family: 'Courier New', Courier, monospace;
    background-color:lightskyblue;
    color: aquamarine;
}
h1 {
    color: aqua;
}
a {
    color: aliceblue;
    text-decoration: none;
}
a:hover {
    color: palevioletred ;
}
ul>li {
    font-weight: bold;
}
h1 + p {
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
}
ul li:hover {
    background-color: cyan;
}
p:not(:first-of-type) {
    text-decoration: underline;
}
ul li::before {
    content: "🚀";
}
a::after {
    content: "🚀";
}
p::first-letter {
    font-size: 200%;
    color: darkblue;
}
